In [1]:
import pandas as pd
sp_novels = pd.read_csv("sp_novels.tsv", sep="\t")
sp_novels.head()

,idno,author-country,author-name,author-gender,title,year,narrator,protagonist-gender,protagonist-social-level,protagonist-social-level-nr,time-span,type-end,type-end-nr,canon-proxy,size_words,size_chars,decade
0,ne0001,Spain,Baroja,male,Mayorazgo,1903,third-person,male,high,1,365,positive,1,2.0,51032,294083,1900
1,ne0002,Spain,Galdos,male,Misericordia,1889,third-person,female,low,-1,90,negative,-1,6.0,83782,476876,1880
2,ne0003,Spain,Galdos,male,Nazarin,1895,third-person,male,low,-1,90,positive,1,2.0,64723,366700,1890
3,ne0004,Spain,Galdos,male,Halma,1895,third-person,mixed,high,1,365,positive,1,1.0,73342,424834,1890
4,ne0005,Spain,Galdos,male,Tristana,1892,third-person,female,low,-1,1800,positive,1,2.0,52555,300788,1890

## Parameter

#### Median

In [22]:
median = sp_novels["time-span"].median()
print(median)

365.0

#### Arith. Mittel

In [23]:
mean = sp_novels["time-span"].mean()
print(mean)

2037.9

#### Varianz

In [24]:
var = sp_novels["time-span"].std()
print(var)

3780.747300925985

#### 50%-Quantil (=Median)

In [25]:
q2 = sp_novels["time-span"].quantile(q=0.5)
print(q2)

365.0

#### Interquartilsabstand

In [14]:
quartile1 = sp_novels["time-span"].quantile(q=0.25)
quartile3 = sp_novels["time-span"].quantile(q=0.75)

iqr = quartile1 - quartile3
print(iqr)

-1461.25

In [17]:
print(median,"+-", iqr, "(Median +- IQR)")